@import url(./fonts.css );

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --white: white;
    --black: black;
    --RalewayBlack: 'Raleway-Black';
    --RalewayBold: 'Raleway-Bold';
    --RalewayRegular: 'Raleway-Regular';
    --RalewayThin: 'Raleway-Thin';
    --RB: 'RB';
    --RR: 'RR'
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: var(--black);
}

.nav_up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

.up {
    display: flex;
    gap: 5px;
    align-items: center;
}

.up span {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);

}

.up__list {

    display: flex;
    gap: 20px;
    align-items: center;
}

.up__list_link a {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--white);
}

.nav {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(125, 115, 115, 0.5);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__list {
    display: flex;
    align-items: center;


}

.nav__item a {

    display: flex;
    align-items: center;
}

.nav__list_link a {
    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    color: var(--white);
    padding: 22px 13px;
    transition: .4s linear;
}

.nav__list_link a:hover {
    background: rgba(105, 207, 23, 0.75);
}

.header__content {

    background: url(../img/bg_header.png) center center / cover;
    height: 700px;

}

.item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 167px;

}

.content h1 {
    font-family: var(--RalewayBlack);
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    color: #69CF17;
}

.content span {
    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 17px;
    color: #69CF17;
    padding-top: 18px;

}

.content p {
    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 18px;
}

.header__button {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}


.sall{

/*     padding: 33px 76px; */
background: rgba(105, 207, 23, 0.5);
backdrop-filter: blur(9px);
font-family: var(--RalewayThin);
font-style: normal;
font-weight: 100;
font-size: 50px;
line-height: 25px;

text-align: right;

color: #FFFFFF;
border-radius: 10px;
padding: 33px 76px;
}
.button__header_2{

    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    
    color: #FFFFFF;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    padding: 15px 68px;
}

.main{

    margin-top: 48px;
}
.main__nav{

    background: #292929;
box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
padding: 20px 0;
}
.main__list{

    display: flex;
    gap: 32px;
    padding-left: 21px;
}
.main__list_link {
    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
  
    transition: 500ms;
    display: inline-block;
position: relative;
transition: 500ms;

}
.main__list_link::after {
    content: '';
    position: absolute;
    border-radius: 23px 23px 0px 0px;
    bottom: -18px;
    height: 2px;
    background: white;
    left: 0;
    width: 0;
    transition: 300ms;
   
}
.main__list_link::before {
    content: '';
    position: absolute;
    border-radius: 23px 23px 0px 0px;
   top: 30px;
    height: 2px;
    background: white;
   right: 0;
    width: 0;
    transition: 300ms;
   
}
.main__list_link:hover::before {

    width: 100%;
   transition: 500ms;
   
}
.main__list_link:hover::after {
 
    width: 100%;
   transition: 500ms;
   
}

.main__cards{
    background: #393636;
display: grid;
grid-template-columns: repeat(4,370px);

padding: 15px 15px;
gap: 30px;
place-items: center;
justify-content: center;
}
.main__card{
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
display: flex;
gap: 15px;
flex-direction: column;
align-items: center;
justify-self: center;
padding: 15px;


}
.main_card_img{
position: relative;
}

.collor_img{
    position: absolute;
    background: rgba(105, 207, 23, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
 transition: 400ms linear;
 opacity: 0;
    justify-content: center;
}
.collor_img:hover{
    opacity: 0.5;
}

.main__card h2{
  
    font-family: var(--RalewayBold);
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 15px;
    /* identical to box height, or 79% */
    
    
    color: #FFFFFF;
}
.main__card p{
  
    font-family: var(--RalewayRegular);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    /* or 132% */
    
    
    color: #FFFFFF;
   
}
.footer__maps h2{
    font-family: var(--RalewayBold);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;  
    text-align: center;
    color: #69CF17;
    padding: 20px 0;
}
.footer__maps{
background-color: #FFFFFF;
    margin-top: 50px;
}
.maps{

    width: 100%;
}
.footer__list{


    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 81px;
    align-items: center;
}

.nuber__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.nuber{
    font-family: var(--RB);
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: right;

color: #FFFFFF;

}
.footer__ul{

display: flex;
gap: 20px;
padding-bottom: 81px;

}
.footer__list_link a{
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #FFFFFF;
    



}
.down{

    background: #1A3406;
    text-align: center;
    padding: 19px 0;
}
.down p{

    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    text-align: center; 
    color: #FFFFFF;
    
}
.main__bg{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;

}
.logo_bg h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: var(--RalewayBold);
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 65px;
/* identical to box height */

text-transform: uppercase;

color: rgba(105, 207, 23, 0.7);

text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
}
.main__content p{

    font-family: var(--RalewayBold);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    
    text-align: justify;
    
    color: #FFFFFF;
    
padding-top: 30px;

}
/* .text_main_adobe{
    max-width: 1140px;
} */
.adobe__main{

    padding-top: 30px;

}
.main__bg img{

    width: 100%;
}
